!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'}
    %title プログラマーズカフェ
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}
    %link{rel: 'icon', href: 'images/favicon.ico', type: 'image/x-icon'}
    %link{rel: 'shortcut icon', href: 'images/favicon.ico', type: 'image/x-icon'}
    %link{rel: 'stylesheet', href: 'bootstrap/css/bootstrap.min.css', type: 'text/css'}
    %link{rel: 'stylesheet', href: 'style.css', type: 'text/css'}
    %link{rel: 'stylesheet', href: 'bootstrap/css/bootstrap-responsive.min.css', type: 'text/css'}
    /[if IE]
      %script{type: 'text/javascript', src: 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: '/'} pgcafe
          .nav-collapse
            %ul.nav
              %li.active
                %a{href: '/'} Home
              %li.active
                %a{href: '/more.html'} More
    .container
      .row-fluid
        .hero-unit.title
          %h1.title<
            ちょっと勉強、ちょっとひと休み
            %br>
            %img.title{src: "images/logo-title.png", width: "50%"}<>
            %br>
            &nbsp;毎週木曜、三鷹にて。
      .row-fluid
        .span8
          .accordion#info
            .accordion-group
              .accordion-heading
                %h2<
                  %a.accordion-toggle{:href => "#collapseOne", :'data-parent' => "#info", :'data-toggle' => "collapse"} Info
              .accordion-body.collapse.in#collapseOne
                .accordion-inner
                  %p 日時：毎週木曜日 15〜18時
                  %p<
                    場所：コワーキングプロジェクト
                    %a{href: "http://mitacafe.co/"} ミタカフェ
                    %a.btn.btn-mini.btn-info{href: "more.html#map"} 地図 &raquo;
                  %p<
                    料金：
                    %a{href: "http://www.mitaka.ne.jp/", target: "_blank"}<> まちづくり三鷹
                    のご厚意により
                    %strong> 無料
                  %p<
                    Facebook：
                    %a{href: "https://www.facebook.com/pgcafe", target: "_blank"}<> www.facebook.com/pgcafe
                  %p<
                    ハッシュダグ：
                    %a{href: "https://twitter.com/search/%23pgcafe", target: "_blank"}<> #pgcafe
            .accordion-group
              .accordion-heading
                %h2<
                  %a.accordion-toggle{:href => "#collapseTwo", :'data-parent' => "#info", :'data-toggle' => "collapse"} About
              .accordion-body.collapse#collapseTwo
                .accordion-inner
                  %p プログラマーズカフェは、プログラミングに関わるあらゆる人たちが集い、交流する場所を提供するボランティア団体です。
                  %p<
                    毎週木曜日の15～18時、コワーキングプロジェクト
                    %a{href: "http://mitacafe.co/", target: "_blank"} ミタカフェ
                    の一部を借りて開催しています。
                  %p<
                    18時からは産業プラザ1階のカフェ「
                    %a{href: "http://www.hi-famiglia.com/", target: "_blank"}<> Cafe Hi Famiglia
                    」にて、昼間来れない方などを交えて
                    %del 引き続き雑談
                    夜の部を開催しています。
            .accordion-group
              .accordion-heading
                %h2<
                  %a.accordion-toggle{:href => "#collapseThree", :'data-parent' => "#info", :'data-toggle' => "collapse"} 参加するその前に…
              .accordion-body.collapse#collapseThree
                .accordion-inner
                  %p<
                    プログラマーズカフェは開催者の性格上、皆さまが思っている以上に
                    %strong<> ゆるい
                    です。
                  %p<
                    他の勉強会と違い、運営側が基本的にノープランなので
                    %strong<> 過度な期待は禁物
                    です。
                  %p 参加される方によって内容がまるっきり変わるため、タブレットやノートPCを持参されると手持ち無沙汰が解消されます。仕事もできます。
                  %p 常連者の志が低すぎるため、ムチを入れてくれる方を絶賛大募集です。
          - @facebook.each do |row|
            .row-fluid
              - row.each do |column|
                .span4
                  %h3 #{column.message}
                  %p #{column.description}
                  %p<
                    %a.btn.btn-small.btn-primary{href: column.link, target: "_blank"} #{column.name} &raquo;
        .span4
          .well.sidebar-nav
            %ul.nav.nav-list.next-schedule
              - @events.each_with_index do |event, i|
                - if i == 0
                  %li.nav-header 次のプログラマーズカフェは…
                - if i == 1
                  %li.nav-header 次回以降は…
                %li<
                  %p.next-schedule<
                    #{event['dtstart'].strftime('%m月%d日')}
                    - if event['url'] != ''
                      %a.btn.btn-mini.btn-success{href: event['url'], target: "_blank"} ATND &raquo;
          .row-fluid
            %script{type: 'text/javascript', src: 'http://widgets.twimg.com/j/2/widget.js'}
            :javascript
              new TWTR.Widget({
                version: 2,
                type: 'search',
                search: '#pgcafe',
                interval: 20000,
                title: 'プログラマーズカフェ',
                subject: '#pgcafe',
                width: 'auto',
                height: 420,
                theme: {
                  shell: {
                    background: '#8ec1da',
                    color: '#ffffff'
                  },
                  tweets: {
                    background: '#ffffff',
                    color: '#444444',
                    links: '#1985b5'
                  }
                },
                features: {
                  scrollbar: false,
                  loop: true,
                  live: true,
                  behavior: 'default'
                }
              }).render().start();
      %footer.footer
        %h4 &copy; #{Date.today.year} プログラマーズカフェ
        -#
          %a.btn.btn-danger{href: "/deleteall"} Delete ALL &raquo;
    %script{type: 'text/javascript', src: 'jquery/jquery-1.7.2.min.js'}
    %script{type: 'text/javascript', src: 'bootstrap/js/bootstrap.min.js'}